@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #f8f8f8;
}
main {
  width: 80%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
figure {
  background-color: #fff;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}
figcaption {
  margin-top: 10px;
  font-weight: 800;
  color: rgb(4, 122, 124);
}
